@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    /* text-transform: uppercase;  - utilizo esta opção quando quero todas as letras em maiúscolo sem diferenciação entre as primeiras letras de cada palavra */
    font-variant: small-caps; /* esta opção deixa tudo em maiúsculo porém as primeiras letras de cada palavra deixa com um tamanho maior */
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(33, 31, 31);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.505);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.592);
    text-shadow: 2px 2px 3px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}