@charset "UTF-8";
div {
    display: inline-block;
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: rgb(223, 223, 25);
}